extends layout

append stylesheets
  link(href='/assets/css/qrand.css', rel='stylesheet')

append javascripts
  script(src='/assets/js/qrand.js')
  script(src='/socket.io/socket.io.js')

append header
  include includes/flash-messages

block content
  include includes/qrand